<h2>Edit Dividend declaration</h2>

<%= render "form.html", Map.put(assigns, :action, stock_dividend_declaration_path(@conn, :update, @symbol, @dividend_declaration)) %>

<span><%= link "Back", to: stock_dividend_declaration_path(@conn, :index, @symbol) %></span>
