<h2>New Dividend declaration</h2>

<%= render "form.html", Map.put(assigns, :action, stock_dividend_declaration_path(@conn, :create, @symbol)) %>

<span><%= link "Back", to: stock_dividend_declaration_path(@conn, :index, @symbol) %></span>
