<h2><%= @portfolio.name%></h2>

<%= 
    investments = StockCraz.Portfolios.list_investment_views(@portfolio.id)
    render WebUi.InvestmentView, "index.html", conn: @conn, portfolio_id: @portfolio.id, investments: investments
%>

<span><%= link "Edit", to: portfolio_path(@conn, :edit, @portfolio) %></span>
<span><%= link "Back", to: portfolio_path(@conn, :index) %></span>
