<h2>Edit Investment</h2>

<%= render "form.html", Map.put(assigns, :action, portfolio_investment_path(@conn, :update, @portfolio_id, @investment.id)) %>

<span><%= link "Back", to: portfolio_investment_path(@conn, :index, @portfolio_id) %></span>
