<h2>New Investment</h2>

<%= render "form.html", Map.put(assigns, :action, portfolio_investment_path(@conn, :create, 1)) %>

<span><%= link "Back", to: portfolio_investment_path(@conn, :index, 1) %></span>
